@import 'components/all'
    
body, html, *
    margin: 0
    padding: 0

body // root
    height: 100vh
    display: flex
    justify-content: center

    background-color: black

#__next // app
    width: min(82vw, 1040px)

.welcome
    max-width: 560px
    margin-top: 20vh

    font-size: 18px
    color: white

    .title:before
        content: "—"
        margin-right: .3em

    div:not(:first-child)
        margin-top: 2em