@import 'fonts'
@import 'bars'
@import 'components/all'

html, body, *
	margin: 0
	padding: 0

body // layout
	display: flex
	justify-content: center
	color: #fff
	font-family: Montserrat,sans-serif
	font-size: .9em
	background-color: #000
	min-height: 100vh

	> div
		width: 95vw
		max-width: 1040px
		margin: 3em
		display: grid
		grid-template: min-content auto / auto auto
		gap: 1em

		header
			grid-column: 1 / 3
			grid-row: 1 / 2

		main
			grid-column: 1 / 3
			grid-row: 2 / 3

		footer
			grid-column: 2 / 3
			grid-row: 1 / 2
			justify-self: end

			position: absolute
			visibility: hidden
			opacity: 0
			transition: visibility .3s, opacity 0.3s ease-in-out
			+tablet
				opacity: 1
				visibility: visible


.signature
	.name
		font-size: 2em
		font-weight: 800
		text-transform: uppercase
		animation: 21s ease-in-out 0s infinite alternate colorful

	.title
		font-weight: 500

		&:before
			content: "—"
			margin-right: .3em

.contact
	display: flex
	flex-direction: row
	text-align: left
	gap: 2.5em

	h3
		font-weight: 500

	address,
	nav.networks
		color: $faded
		font-style: normal
		display: flex
		flex-direction: column
		line-height: 1.6

	.email
		color: $purple

a
	color: $faded
	text-decoration: none
	transition: color .5s

	&:hover
		color: white

.welcome
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	gap: 1em

	font-size: 1em
	text-transform: uppercase
	text-align: center

	h1
		font-size: clamp(5em, 11vw, 10em)
		letter-spacing: .04em
		font-weight: 800
		background: -webkit-linear-gradient($purple, $blue)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

	.bio
		display: flex
		flex-direction: column
		gap: .5em
		width: 90%

		a
			color: $purple

			&:hover
				color: white

		h2,
		h3,
		p
			font-size: 1em
			font-weight: 600
			line-height: 1.3em

			+tablet
				font-size: 1.1em

		span:before
			content: ' '


.loading
	h1
		font-family: 'Teko', sans-serif
		text-transform: uppercase
		font-weight: 400
		font-size: 28vh
		writing-mode: tb-rl
		white-space: nowrap
		margin-left: -.3em

		.bars
			color: #fd7861
			background: linear-gradient(#fe6a93, #fd7861)
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent

			&:after
				content: 'I'
				user-select: text
				pointer-events: all

				@include bars


.error
	.code
		display: flex
		position: fixed
		top: 0
		left: 0
		height: calc(100vh)
		width: calc(100vw)

		//text-align: center
		justify-content: center
		align-items: center

		white-space: nowrap
		overflow-y: hidden
		overflow-x: hidden

		font-family: 'JetBrains Mono', monospace
		font-weight: bold
		font-size: clamp(50vh, 50vw, 100vh)

		user-select: none
		pointer-events: none

		span
			background: linear-gradient(36deg, #9749eb, #fd7861)
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent

			display: inline-block
			position: relative

		span:first-child
			bottom: clamp(0vh, calc(25vh - (1vw - 1vh) * 25), 25vh)
			left: clamp(-1vh, calc(50vh - 50vw), 25vh)

		span:last-child
			top: clamp(0vh, calc(25vh - (1vw - 1vh) * 25), 25vh)
			right: clamp(-1vh, calc(50vh - 50vw), 25vh)

	> main
		display: flex
		flex-direction: column
		gap: 2em

		font-family: 'JetBrains Mono', monospace
		font-weight: bold
		word-wrap: break-word

		.message:first-letter
			text-transform: uppercase

		p
			color: #8d96a7

		> p
			font-weight: 300

		footer
			a
				color: #fff
				text-decoration: underline
				display: block

				&:hover
					cursor: pointer
